<div class="col-md-12" align="center">
  <div style="max-width: 300px">
    <h2>login Forms!</h2>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="loginContact" style="text-align: left">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" formControlName="username" (click)="onChanges()" placeholder="Enter username">

        <!--loi null-->
        <div class="col alert alert-danger" role="alert"
             *ngIf="loginContact.get('username')?.errors?.required && loginContact.get('username')?.touched">
          Usernane is required!
        </div>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" (click)="onChanges()"
               placeholder="Password">

        <!--loi null-->
        <div class="col alert alert-danger" role="alert"
             *ngIf="loginContact.get('password')?.errors?.required && loginContact.get('password')?.touched">
          Password is required!
        </div>

      </div>

      <!--loi null-->
      <div class="col alert alert-danger" role="alert"
           *ngIf="check === false">
        Sai username hoặc password!!
      </div>

      <div class="form-check" align="center">
        <button type="submit" class="btn btn-primary" [disabled]="loginContact.invalid">Submit</button>
      </div>
    </form>


  </div>
</div>
