<h2 align="center">Vertical (basic) form</h2>
<a routerLink="/blog" style="padding-left: 10px">back</a>
<hr>
<div>
  <form action="">
    <div class="col-md-9">
      <div class="form-group">
        <label for="title">Category:</label>
        <select id="inputState" class="form-control" (change)="onChange($event.target.value)">
          <option selected>---Category---</option>
          <option *ngFor="let category of categorys" value="{{category.id}}">
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter Title">
      </div>
      <div class="form-group">
        <label for="describe">Describe:</label>
        <input type="text" class="form-control" id="describe" placeholder="Enter Describe">
      </div>
      <div class="form-group">
        <label for="describe">Body:</label>
        <textarea type="text" class="form-control" rows="10"></textarea>
      </div>
      <hr>
      <div class="form-group" align="center">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="title">Trạng thái:</label>
        <select class="form-control" (change)="onChange($event.target.value)">
          <option value="1">Hiện</option>
          <option value="0">Ẩn</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Img:</label>
        <img src="" alt="" id="imga" style="width: 255px; padding-bottom: 20px">
        <input type="text" class="form-control"  (change)="setImg($event.target.value)" />
      </div>
    </div>
  </form>
</div>
