<h4 align="center">Setup Website</h4>
<div>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="setUpForm">
    <div class="form-group">
      <label >title:</label>
      <input type="text" class="form-control" formControlName="title" placeholder="Enter title">
    </div>
    <!--loi null-->
    <div class="col alert alert-danger" role="alert"
         *ngIf="setUpForm.get('title')?.errors?.required && setUpForm.get('title')?.touched">
      title is required!
    </div>

    <div class="form-group">
      <label >Date Format:</label>
        <select class="form-control" formControlName="dateFormat">
          <option value="dd/MM/yyyy HH:mm:ss">date:'dd/MM/yyyy HH:mm:ss'</option>
          <option value="dd/MM/yyyy">date:'dd/MM/yyyy'</option>
          <option value="MM/dd/yyyy">date:'MM/dd/yyyy'</option>
          <option value="yyyy/MM/dd">date:'yyyy/MM/dd'</option>
          <option value="yyyy/dd/MM">date:'yyyy/dd/MM'</option>
        </select>
    </div>
    <!--loi null-->
    <div class="col alert alert-danger" role="alert"
         *ngIf="setUpForm.get('dateFormat')?.errors?.required && setUpForm.get('dateFormat')?.touched">
      dateFormat is required!
    </div>

    <div class="form-group">
      <label >cout Blog:</label>
      <input type="number" class="form-control" formControlName="countBlog">
    </div>
    <!--loi null-->
    <div class="col alert alert-danger" role="alert"
         *ngIf="setUpForm.get('coutBlog')?.errors?.required && setUpForm.get('coutBlog')?.touched">
      coutBlog is required!
    </div>

    <hr>
    <div class="form-group" align="center">
      <button type="submit" class="btn btn-info" [disabled]="setUpForm.invalid">Submit</button>
    </div>
  </form>
</div>
