<app-header></app-header>
<div class="container" style="padding-left: 0; padding-right: 0">
  <div class="col-md-12" style="padding-left: 0; padding-right: 0">
    <div class="col-md-3 col-xs-12 left">
      <app-category></app-category>
    </div>
    <div class="col-md-9 col-xs-12 right">
      <h2 style="text-align: center">
        Home
      </h2>

      <div *ngFor="let blog of blogs">
        <div class="col-md-12 blog" align="center">
          <p align="center">{{blog.title}}</p>
          <p>{{blog.describe}}</p>
          <img src="{{blog.image}}" alt="" width="550px" />
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
